.products{
    background-color: #fff;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust for desired number of columns */
  }

  .product-grid *{
    background-color: #fff;
  }
  
  .product {
    border: 1px solid #ccc;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product p{
    font-size: 17px;
  }
  .product a{
    font-size: 14px;
  }
  
  .product img {
    width: 100%;
    max-width: 300px; 
    height: 300px;
  }